<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><strong>Login,  Input The code</strong></h1>
    <form action="/try" method="POST">
        <input type="text" name="ID">
        <div></div>
        <input type="password" name="PWD">
        <input type="submit" value="Submit" >
        <input type="text" id="code" name="CODE" value="Code" onclick="document.getElementById('code').setAttribute('value', '')" >
    </form>
</body>
</html>